
<div class="container">
  
  <div class="filter-section">
    <mat-form-field appearance="fill">
      <mat-label>Departure Place</mat-label>
      <input matInput placeholder="Enter departure place...">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Arrival Place</mat-label>
      <input matInput placeholder="Enter arrival place...">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput placeholder="Enter price...">
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label> -Sorting- </mat-label>
      <mat-select [formControl]="sortingControl">
        <mat-option value="">-select-</mat-option>
        <mat-option value="price-by-desc">Price By Desc</mat-option>
        <mat-option value="price-by-asc">Price By Asc</mat-option>
   
      </mat-select>
    </mat-form-field>
  </div>
  
<div class="flights-container">
  <h1>Flight Booking List </h1>
    <div *ngFor="let flight of flights" class="flight-card-container">
      <mat-card class="flight-card">
        <div class="row">
          <div class="left-section">
            
            <a href="#" class="airport-link">
              <mat-icon class="plane-icon">flight_takeoff</mat-icon>
            </a>
            <div class="departure-info">
              <a href="#" class="airport-link">
                <div class="airport-name">{{flight.departure}}</div>
              </a>
              <div class="departure-time">{{flight.arrivalTime| date: 'medium'}}</div>
            </div>
          </div>
          <div class="middle-section">
            <!-- Đường đi của máy bay -->
         
           

            
            <!-- Thông tin về ghế và giá -->
            <div class="middle-section">
              <div class="flight-id">
            
                <span class="flight-id-value">{{flight.flightNumber}}</span>
              </div>
              
              <div class="info">
                <p>Total Seats: {{flight.totalSeats}}</p>
                <p>Price: ${{flight.price}}</p>
              </div>
              <div class="divider"></div>
              <button  routerLink="/flightDetail/{{flight.id}}" class="book-now"  >Book Now</button>
            </div>
            
            
          </div>
          <div class="left-section">
            
            <a href="#" class="airport-link">
              <mat-icon class="plane-icon">flight_arrival</mat-icon>
            </a>
            <div class="departure-info">
              <a href="#" class="airport-link">
                <div class="airport-name">{{flight.destination}}</div>
              </a>
              <div class="departure-time">{{flight.arrivalTime| date: 'medium'}}</div>
            </div>
          </div>
        </div>
      </mat-card>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </div>
  </div>
  <div class="temporary-empty-section">
    <!-- This section is intentionally left blank for future use -->
  </div>
</div>

